<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.codeheadlabs.zendesk">

  <application
    android:name=".Global"
    android:allowBackup="true"
    android:supportsRtl="true"
    android:theme="@style/AppTheme">
    <activity android:name=".MainActivity">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>

    <!--
        Redeclare any (or all) of the Support SDK activity classes and specify a new theme.
        The important thing in the theme is to specify the colorPrimary, colorPrimaryDark, and
        colorAccent.
    -->
    <activity android:name="zendesk.support.guide.HelpCenterActivity"
        android:theme="@style/HelpCenterTheme"
        />

    <activity android:name="zendesk.support.guide.ViewArticleActivity"
        android:theme="@style/HelpCenterTheme"
        />

    <activity android:name="zendesk.support.requestlist.RequestListActivity"
        android:theme="@style/RequestsTheme"
        />

    <activity android:name="zendesk.support.request.RequestActivity"
        android:theme="@style/RequestsTheme"
        />

  </application>
</manifest>
